# VS Code specific files
.vscode/
.vs/
arb/
*.sln
*.vcxproj.*
*.vcxproj

#build files
build/

venv/
Junk/

#For now 
*.arb

# Doxygen output
html/
latex/
Doxyfile

#Latex
Specification/

#Python output
*.html

syntax builder.txt
Implementation details.txt